@import 'menu.scss';
//conteiners
.about_sb_line {
    text-align: center;
    margin-bottom: 1em;
}

.about_project {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    flex-wrap: wrap;
    .project_item {
        margin: 1em;
        height: 450px;
        background-color: $yellow;
        border: 2px solid black;
        .project_img {
            width: 100%;
            min-width: 150px;
            max-width: 250px;
            height: auto;
        }
        .project_img:hover {
            border: 1px solid black;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
        .description_img {
            color: black;
            background-color: $pink;
        }
        .description_img_txt {
            width: 250px;
            height: auto;
            color: black;
            padding: 2px;
            &p {
                word-wrap: break-word;
            }
        }
    }
}

@include mediaSM {
    .about_project {
        display: inline-block;
    }
}

@include mediaMd {
    .about_project {
        align-items: center;
    }
}

@include mediaBg {
    .about_project {
        text-align: center;
        justify-content: center;
    }
}