    $primary-color: #444;
    $secondary-color: rgb(211, 211, 211);
    $yellow: #eece1a;
    $pink: #EF8DE0;
    $show-home-image: true;
    $home-image: url(../img/background_dark.png);
    $home-mb-image: url(../img/background_dark_mb.png);
    $background-opacity: 0.6;
    $background-opacity2: 0.9;
    @mixin easeOut {
        transition: all 0.5s ease-out;
    }